# Project exclude paths
/out/
/springMVC-demon02/target/
/springMVC-demon03/target/
/springMVC-jsp/target/
/springMVC-reset/target/springMVC-reset-1.0-SNAPSHOT/WEB-INF/lib/attoparser-2.0.5.RELEASE.jar
/springMVC-reset/target/springMVC-reset-1.0-SNAPSHOT/WEB-INF/templates/index.html
/springMVC-reset/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/springMVC-reset/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/springMVC-reset/target/springMVC-reset-1.0-SNAPSHOT/WEB-INF/lib/logback-classic-1.2.3.jar
/springMVC-reset/target/springMVC-reset-1.0-SNAPSHOT/WEB-INF/lib/logback-core-1.2.3.jar
/springMVC-reset/target/maven-archiver/pom.properties
/springMVC-reset/target/springMVC-reset-1.0-SNAPSHOT/WEB-INF/lib/slf4j-api-1.7.25.jar
/springMVC-reset/target/springMVC-reset-1.0-SNAPSHOT/WEB-INF/lib/spring-aop-5.3.1.jar
/springMVC-reset/target/springMVC-reset-1.0-SNAPSHOT/WEB-INF/lib/spring-beans-5.3.1.jar
/springMVC-reset/target/springMVC-reset-1.0-SNAPSHOT/WEB-INF/lib/spring-context-5.3.1.jar
/springMVC-reset/target/springMVC-reset-1.0-SNAPSHOT/WEB-INF/lib/spring-core-5.3.1.jar
/springMVC-reset/target/springMVC-reset-1.0-SNAPSHOT/WEB-INF/lib/spring-expression-5.3.1.jar
/springMVC-reset/target/springMVC-reset-1.0-SNAPSHOT/WEB-INF/lib/spring-jcl-5.3.1.jar
/springMVC-reset/target/springMVC-reset-1.0-SNAPSHOT/WEB-INF/lib/spring-web-5.3.1.jar
/springMVC-reset/target/springMVC-reset-1.0-SNAPSHOT/WEB-INF/lib/spring-webmvc-5.3.1.jar
/springMVC-reset/target/classes/springMVC.xml
/springMVC-reset/target/springMVC-reset-1.0-SNAPSHOT/WEB-INF/classes/springMVC.xml
/springMVC-reset/target/springMVC-reset-1.0-SNAPSHOT.war
/springMVC-reset/target/springMVC-reset-1.0-SNAPSHOT/WEB-INF/lib/thymeleaf-3.0.12.RELEASE.jar
/springMVC-reset/target/springMVC-reset-1.0-SNAPSHOT/WEB-INF/lib/thymeleaf-spring5-3.0.12.RELEASE.jar
/springMVC-reset/target/springMVC-reset-1.0-SNAPSHOT/WEB-INF/lib/unbescape-1.1.6.RELEASE.jar
/springMVC-reset/target/springMVC-reset-1.0-SNAPSHOT/static/js/vue.js
/springMVC-reset/target/springMVC-reset-1.0-SNAPSHOT/WEB-INF/web.xml
/springMVC-reset/target/springMVC-reset-1.0-SNAPSHOT/META-INF/MANIFEST.MF
