<component name="ArtifactManager">
  <artifact type="war" name="springMVC-reset:war">
    <output-path>$PROJECT_DIR$/springMVC-reset/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>springMVC-reset</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="springMVC-reset-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="springMVC-reset:war exploded" />
    </root>
  </artifact>
</component>